.thumb {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 50px;
  padding-right: 50px;
}
.button {
  padding: 1px 5px;
  background-color: #fff;
  border: 1px solid rgba(199, 199, 199, 0.6);
  margin-left: 5px;
}

.button:hover,
.button:focus {
  background-color: rgb(127, 155, 231);
  border: 1px solid transparent;
}

.item {
  margin: 1px;
}

.item:not(:last-child) {
  margin-bottom: 7px;
}

.loader {
  text-align: center;
}
