.form {
  display: flex;
  flex-direction: column;
}

.label {
  display: inline-flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.input {
  display: inline-block;
  margin-top: 5px;
  width: 250px;
  padding: 4px;
  border: 1px solid rgba(199, 199, 199, 0.6);
}

.button {
  width: 100px;
  background-color: #fff;
  border: 1px solid rgba(199, 199, 199, 0.6);
  margin-bottom: 15px;
}

.button:hover,
.button:focus {
  background-color: rgb(127, 155, 231);
  border: 1px solid transparent;
}
